* {
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 20%), rgba(0, 0, 0, 20%)), url(src/bg_2.jpeg);
    background-position: 75%;
    background-size:auto;
    font-size: 16px;
}

body {
    display:flex;
    flex-direction:row;
}

#barra-lateral::before{
    content: "";
}

#barra-lateral {
    width:18rem;
    height:100vh;
    border-radius: 2rem;
    background-color:rgba(139, 0, 0, 60%);
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    margin-right: 2rem;
}

#titulo {
    width:fit-content;
    margin-top:4rem;
    color: white;    
}

#foto-perfil {
    border-radius: 50%;
    border: 10px solid darkblue;
    width:12rem;
    height:12rem;
    margin-top:2rem;    
}

#professora {
    color: white;
}

#menu{
    margin-top: 4rem;
}


.botao {
    width:15rem;
    height:4rem;
    border-radius:1rem;
    margin-bottom: 2rem;
    background-color:transparent;
    color:white;
    font-size:1rem;
    border: white 2px solid;    
}

.botao:hover{
    background-color: rgba(0, 0, 169, 60%);
}

.botao:active{
    background-color:rgba(139, 0, 0, 60%);
}


main {
    width:60vw;
    height:100vh;
    margin: auto;
    display:flex;
    justify-content: center;
}

#conteudo {
    background-color:rgba(0, 100, 139, 20%);
    border-radius: 5%;
    padding:2rem;
    margin-top: 10rem;
    text-align: center;
    color: white;
    font-size: 2rem;
}

#conteudo h1{
    font-size:3rem;
}
@media screen and (max-width:1000px) {
    html{
        font-size: 14px;
    }
    
}

@media screen and (max-width:800px) {
    html{
        font-size: 12px;
    }
    
}

@media screen and (max-width:600px) {
    html{
        font-size: 10px;
    }
    
}


@media screen and (max-width:400px) {
    html{
        font-size: 8px;
    }
    
}